@import url('https://fonts.googleapis.com/css?family=Raleway');
*{ margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

body{
  padding: 0 20px;
  font-family: 'Raleway', sans-serif;
  background-image: url(../public/bg.jpg);
  /*background-color: #002F2F;*/
  position: relative;
}

body:before{
  content: '';
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  top: 0; left: 0;
}

#loading.active:after{
  content: '';
  width: 100%; height: 100%;
  background-color: red;
  position: absolute;
  top: 0; left: 0;
  z-index: 99;
}

.teams{
  display: flex;
  flex-direction: column;
  width: 100%; height: 100vh;
}

#home,#away{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; height: calc(50% - 20px);
}

#home p,#away p{
  display: inline-block;
  margin: 0 0 5px 0; padding: 5px 15px;
  background-color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

#home p,#away p{
  transform: translateY(50px);
  opacity: 0;
}

#body.active #home p,
#body.active #away p{
  animation: animateIn 0.4s forwards;
}

#body #home p:nth-of-type(2){ animation-delay: 0.1s; }
#body #home p:nth-of-type(3){ animation-delay: 0.2s; }
#body #away p:nth-of-type(1){ animation-delay: 0.3s; }
#body #away p:nth-of-type(2){ animation-delay: 0.4s; }
#body #away p:nth-of-type(3){ animation-delay: 0.5s; }

@keyframes animateIn {
  0%   { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}

.half{
  text-align: center;
}

.btn{
  width: 50px; height: 50px;
  background-color: #fff;
  background-image: url(../public/icon-ball.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 20px; left: 50%;
  transform: translateX(-50%);
}

.menu{
  width: 300px; height: 100%;
  background-color: rgba(255,255,255,0.98);
  position: fixed;
  top: 0; left: 0;
  z-index: 9;
  transform: translateX(-100%);
  overflow-y: scroll;
  transition: 0.3s ease;
}

.menu::-webkit-scrollbar {
  width: 5px;
}

.menu::-webkit-scrollbar-track {
  background: #ddd;
}

.menu::-webkit-scrollbar-thumb {
  background: #666;
}

.menu.active{
  transform: translateX(0);
}

.menu li{
  color: #000;
  padding: 16px 10px;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  transition: 0.1s ease;
}

@media(min-width: 728px){
  .menu li:hover{ background-color: #eee; }
}

.menu li label{
  transform: scale(1,1);
  transition: 0.1s ease;
}

.menu li:active{
  background-color: #eee;
}

.menu li:active > label{
  transform: scale(0.96,0.96);
}

.menu li.back{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.menu li.back:hover{
  background-color: transparent;
  cursor: text;
}

.close{
  width: 20px; height: 20px;
  position: relative;
  cursor: pointer;
}

.close:before,
.close:after{
  content: '';
  background-color: #333;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.close:before{
  width: 2px; height: 100%;
}

.close:after{
  width: 100%; height: 2px;
}

.sub-menu{
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(255,255,255,1);
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.sub-menu::-webkit-scrollbar {
  width: 5px;
}

.sub-menu::-webkit-scrollbar-track {
  background: #ddd;
}

.sub-menu::-webkit-scrollbar-thumb {
  background: #666;
}

.sub-menu.active{
  transform: translateX(0);
}

.sub-menu li{
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bbb;
}

.sub-menu li label{
  display: inline-block;
  width: 100%;
  padding: 16px 5px 16px 35px;
  color: #000;
  position: relative;
  cursor: pointer;
}

.sub-menu li input{
  display: none;
}

.menu-trigger{
  width: 24px; height: 20px;
  position: absolute;
  top: 20px; right: 20px;
  transform: rotate(0);
  transition: 0.4s ease;
}

.menu-trigger span{
  width: 100%; height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%; left: 0;
  transform: translate(0,-50%);
  transition: 0.3s ease;
}

.menu-trigger span:before,.menu-trigger span:after{
  content: '';
  width: 100%; height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transform: translateY(0) rotate(0);
  transition: 0.3s ease;
}

.menu-trigger span:before{ top: -8px; }
.menu-trigger span:after{ bottom: -8px; }
.menu-trigger.active span{ background-color: transparent; }
.menu-trigger.active{ transform: rotate(-180deg); }

.menu-trigger.active span:before{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu-trigger.active span:after{
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.line{
  width: 100%; height: 1px;
  background-color: rgba(255,255,255,0.25);
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(calc(-50% - 25px));
}

.line:before{
  content: '';
  width: 150px; height: 150px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.line:after{
  content: '';
  width: 6px; height: 6px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,calc(-50% + 0.5px));
}

label:before{
  content: '';
  width: 12px; height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 50%; left: 10px;
  transform: translateY(-50%);
}

input:checked + label:before{
  background-image: url(../public/icon-tick.png);
  background-color: #f6bb42;
  border-color: #f6bb42;
}
